/* Estilos para a página de login */
body {
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center; /* Centraliza verticalmente */
    min-height: 100vh; /* Garante que ocupe toda a altura da tela */
    margin: 0; /* Remove margens padrão */
    background-color: #f8f9fa; /* Cor de fundo suave */
}

.login-container {
    background-color: #fff;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    text-align: center;
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #333;
}

.input-field {
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    border-radius: 8px;
    border: 1px solid #ddd;
    font-size: 16px;
}

    .input-field:focus {
        border-color: #007BFF;
        outline: none;
    }

.btn {
    width: 100%;
    padding: 12px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

    .btn:hover {
        background-color: #0056b3;
    }

.forgot-password {
    display: block;
    margin-top: 15px;
    font-size: 14px;
    color: #007BFF;
    text-decoration: none;
}

    .forgot-password:hover {
        text-decoration: underline;
    }


