
/* Animação de fade-in com deslocamento */
@keyframes fadeInText {
    0% {
        opacity: 0; /* Começa invisível */
        transform: translateY(20px); /* Começa deslocado para baixo */
    }

    100% {
        opacity: 1; /* Fica totalmente visível */
        transform: translateY(0); /* Retorna à posição original */
    }
}

/* Estilo do texto explicativo com animação */
.upload-text {
    font-size: 18px; /* Tamanho maior para o texto */
    color: #FFFFF0; /* Cor de texto escuro */
    font-weight: bold; /* Deixando o texto em negrito */
    margin: 20px 0; /* Espaçamento superior e inferior */
    line-height: 1.5; /* Aumentando o espaçamento entre as linhas */
    font-weight: bolder;
    max-width: 300px;
    text-align: center; /* Centralizar o texto */
    animation: fadeInText 1s ease-out; /* Aplica a animação com duração de 1 segundo */
}


/* Estilo do contêiner de upload */
.upload-container {
    width: 100%;
    max-width: 300px;
    padding: 40px;
    border: 2px dashed #663399;
    border-radius: 20px;
    background-color: #f9f9f9;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center; /* Centralizar o conteúdo interno */
    margin-top: 20px; /* Espaçamento superior entre o texto e o contêiner */
    color: #C71585
}



/* Botões uniformes */
.button-style {
    display: inline-block;
    width: 100%; /* Ocupar toda a largura disponível no contêiner */
    max-width: 150px;
    margin: 20px auto; /* Espaçamento vertical entre os botões */
    padding: 10px 20px; /* Ajuste o espaçamento interno */
    font-size: 10px; /* Tamanho da fonte */
    color: white;
    background-color: #4B0082; /* Cor de fundo */
    border: 2px solid #663399; /* Borda */
    border-radius: 10px; /* Bordas arredondadas */
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
}

/* Espaçamento entre os botões */
.button-container {
    display: flex;
    flex-direction: column; /* Colocar os botões em uma coluna */
    align-items: center; /* Centralizar os botões horizontalmente */
    gap: 20px; /* Espaçamento entre os botões */
}


    .button-style:hover {
        background-color: #4caf50; /* Cor ao passar o mouse */
        transform: scale(1.05); /* Efeito de zoom */
    }

/* Ocultar o input de arquivo */
#file-upload {
    display: none;
}

/* Mensagem do arquivo */
#file-info {
    margin-top: 10px;
    color: #555;
}
