
<div class="top-row ps-3 navbar navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">LearnFlow_Web</a>
    </div>
</div>

<nav class="flex-column p-3">
    <!-- Home -->
    <div class="nav-item">
        <a class="nav-link" href="#">
            <span class="bi bi-house-door-fill" aria-hidden="true"></span> Home
        </a>
    </div>

    <!-- Login -->
    <div class="nav-item">
        <!-- Botão que ativa o modal -->
        <a class="nav-link" href="#" data-bs-toggle="modal" data-bs-target="#loginModal">
            <span class="bi bi-box-arrow-in-right" aria-hidden="true"></span> Login
        </a>
    </div>
</nav>

